#content {
  height: 100%;
  max-width: 100vw;
}

.todo-content .title {
  margin: 0;
}

.primary-bg {
  background-color: #4682B4; /* steel */
}

.current-project,
.secondary-bg {
  background-color: #57A0D3; /* carolina */
}

fieldset {
  border: none;
  min-width: auto;
  padding: 0;
  margin-top: 1rem;
}

.field {
  max-width: 100%;
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  max-width: calc(100% - 2rem);
}

.h-100 {
  height: 100vh;
}

.d-inline-block {
  display: inline-block;
}

.h-title {
  width: 75%;
  display: inline-block;
}

.todo-content {
  background-color: white;
  border-radius: 1.5rem;
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.todo-content .title {
  min-width: 40%;
  display: inline-block;
}

.todo-content .date {
  min-width: 40%;
  display: inline-block;
}

.project-content {
  padding: 1rem;
}

.current-project {
  border-radius: 1.5rem;
}

.create-form {
  width: 25%;
  display: inline-block;
  cursor: pointer;
}

[class*=col-] {
  vertical-align: top;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  display: inline-block;
}

@media (min-width: 768px) {
  .col-md-4 {
    width: 33.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .current-project {
    border-radius: 1.5rem 0 0 1.5rem;
    box-sizing: content-box;
    width: 100%;
  }

  #project,
  #todo {
    min-height: 100vh;
  }
}
